<%- include("partials/header.ejs") %>
<div class="page-wrapper">
    <form action="/login" method="POST">
    <input type="text" placeholder="Username" name="username">
    <input type="password" placeholder="Password" name="password">
    <button type="submit">Login</button>
    </form>
</div>






<%- include("partials/footer.ejs") %>