*{
    box-sizing: border-box;
}
html,body{
padding: 0px;
margin: 0px;
height: 100%;
/* background-color: rgba(0,0,0,.7); */
}
.page-wrapper{
    min-height: 100%;
    margin-top: 0px;
}
#test{
    background-color: yellow;
    height: 200px;
}
/* FOOTER */
.footer{
    background-color: #303036;
    color: #d3d3d3;
    height: 200px;
    position: relative;
}
.footer .footer-bottom{
    background-color: #343a40;
    color: #686868;
    height: 50px;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 10px;
    width: 100%;
}
/* .footer .footer-content{
    height: 150px;
} */
/* /FOOTER */
#wholesale{
    background-image: url("/photos/wooden4.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 95vh;
margin-top: 0px;
}
#retail{
    background-image: url("/photos/redwallfree.jpg");
    background-attachment: fixed;
}
.retailegg{
    height: 600px;
}
#poultryfeed{
background-image: url("/photos/grainsfree.jpg");
background-position: bottom;
background-attachment: fixed;
height: 70vh;
}
.feedimage{
    height: 500px;
}
#papertray{
    background-image: linear-gradient(to right,rgba(0,0,0,.3),rgba(0,0,0,.2),rgba(0,0,0,.3)),
    url("/photos/pinktexturefree.jpg");
    background-attachment: fixed;
}
.papertrayimg{
    height: 500px;
}
/* SOCILA MEDIA ICONS */
.links .btn{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #f1f1f1;
    margin: 5px;
    border-radius: 30%;
    box-shadow:0 5px 15px -5px #00000070;
    color: #3498db;
    overflow: hidden;
    position: relative;
}
.links .btn i{
line-height: 40px;
font-size: 26px;
transition: 0.2s linear;
}
.links .btn:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
}
.links .btn::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background-color: #3498db;
    transform: rotate(45deg);
    left: -100%;
    top: 90%;
}
.links .btn:hover::before{
    animation: aaa 0.7s 1;
    top: -10%;
    left: -10%;
}
@keyframes aaa{
    0%{
        left: -110%;
        top: 90%;
    }
    50%{
        left: 10%;
        top: -30%;
    }
    100%{
        left: -110%;
        top: 90%;
    }
}
.links{
    text-align: center;
}
.about{
    text-align: center;
    margin-top: 25px;
}
.btn-dark{
    margin-right: 10px;
}

@media(max-width:600px){
    .retailegg{
height: 400px;
position: relative;
left: 20%;
    }
    #wholesale{
        height: 80vh;
    }
    .papertrayimg{
        height: 200px;
        position: relative;
left: 27%;
    }
    .feedimage{
        height: 300px;
        position: relative;
        left: 18%;
    }
}
/* SCROLLBAR STYLING */
/* ::-webkit-scrollbar{
    width: 20px;
    background-color: rgba(0,0,0,.8);
    }
    ::-webkit-scrollbar-thumb{
        background-image: linear-gradient(to right,rgba(196, 4, 26,.9),rgba(207, 28, 4,.8));
        border-radius: 50px;
    }
     */